@import "variables.less";

body{
  display:block;
  min-height:100%;
  overflow: auto;
  width: 100%;
  float:left;
  margin:0;
  font-size:@gutter;
}

h1,h2,h3,h4,h5,h6{
  margin-top:0;
  padding-top:0;
}

a,
article,
b,
div,
footer,
header,
li,
nav,
section,
span,
strong,
table,
td,
th,
ul{
  box-sizing:border-box;
}

.header-wrapper,
.footer-wrapper,
.content-1,
.content-2,
.content-3,
.content-wrapper
{
    .mgn-ctr;
    width:94%;

}

.heading-block{

  width:100%;
  float:left;
  clear:both;
  background-color:@white;

  .heading-block-link{

    display:block;
    padding:@gutter @gutter @gutter 50%;

  }

  .heading-block-link-caption{
    display:block;

  }

}

//
@media only screen and(min-width:@desktop_large){

    .header-wrapper,
    .footer-wrapper,
    .content-1,
    .content-2,
    .content-3,
    .content-wrapper
    {
    width:@desktop;
    }
}