$gutter_unit:px;
$gutter_size:1;
$gutter_output: $gutter_size + $gutter_unit;

$gutter_S_output: $gutter_size *.75 + $gutter_unit;
$gutter_M_output: $gutter_size *1.5 + $gutter_unit;
$gutter_L_output: $gutter_size *2 + $gutter_unit;
$gutter_XL_output: $gutter_size *3 + $gutter_unit;
$gutter_XXL_output: $gutter_size *4 + $gutter_unit;